<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.getId()}">Value Id</p>
<p th:text="${person.getName()}">Value Name</p>
<p th:text="${person.getSurname()}">Value Surname</p>
<p th:text="${person.getAge()}">Value Age</p>
<p th:text="${person.getEmail()}">Value Email</p>

<a style="display: flex; width: max-content; height: fit-content; background-color: crimson"
   th:href="@{/people/{id}/edit (id=${person.getId()})}">Edit user</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
     <input type="submit" th:value="${person.getName()} + ___ + deleted">
</form>
<br>
<hr>
<a href="/people">Main</a>
</body>
</html>