<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin_page</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/add}">
  <label for="admin">Select user : </label>
  <select th:object="${person}" th:field="*{id}" id="admin" name="admin" >
    <option th:each="person: ${people}" th:value="${person.getId()}" th:text="${person.getName()}">Name_user</option> 
  </select>

  <input type="submit" value="appoint an admin">
</form>

</body>
</html>